html, body {
                height: 100%;
            }
body {
	background: #141a26;
	color: white;
	 margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
	font-family: Lato;

}
#wrapper {
	  text-align: center;
                display: table-cell;
                vertical-align: middle;
}
.desc {
	font-size: 25px;
}
h1.logo {
font-size:50px;
}